@font-face {
  src: url('./tipografias/galloway-regular.ttf');
  font-family: galloway;
  font-display: swap;
}

:root {
  --background-top: #27369f;
  --background-bottom: #131b58;
  --light-orange: #f6921d;
  --dark-orange: #d86210;

  --header-height: 100px;
}

* {
  margin: 0;
  padding: 0;
}
